html 
{
    margin: 0;
    height: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background-color: #F7F7F7;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#left-half, #right-half
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------- LEFT SIDE OF SCREEN --------- */

#left-half 
{
    background-color: #D5EDF6;
    flex-basis: 40%;
    justify-content: space-around;
    background-image: url(./images/christmas-backsplash3.jpeg);
    background-size: cover;
}

#left-branded-div
{  
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

#left-text-background
{
    height: 6rem;
    background-color: hsl(214, 3%, 47%, 0.6);
}

@font-face {
    font-family: Norse-Bold;
    src: url('./fonts/Norse-Bold.otf');
}

#left-text
{   
    line-height: 6rem;
    color: black;
    font-family: Norse-Bold;
    font-size:3rem;
}

#left-text-icon 
{
    height: 2rem;
}

#left-subtext-div
{
    font-size: 1rem;
    font-weight: 800;
    color: black;
    padding: 1.25rem;
    background-color: hsla(214, 3%, 47%, 0.8);
}

/* ---------- RIGHT SIDE OF SCREEN ----------- */

#right-half
{
    flex-basis: 60%;
    justify-content: space-around;
}

/* ------------ RIGHT TOP TITLE AND TEXT ------------ */

#right-title-text, #right-form-inputs, #right-submit-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#right-title-text
{
    font-size: 1rem;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    max-width: 67ch;
    text-align: center;
}

#right-title
{
    color: rgb(5, 52, 100);
}

#right-text
{
    color: rgb(18, 87, 157);
}

#right-title, #right-text, #login-link, #create-acc-button
{
    margin: 1rem 3rem 1rem 3rem;
}

/* ------------ RIGHT SIGN UP FORM ------------ */

form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem 2rem 0rem;
}

#right-form-inputs
{ 
    font-size: 1rem;
    flex-basis: 50%;
    background-color: #FFFFFF;
    width: 100%;
}

#first-name, #last-name, #email, #phone-number, #password, #confirm-password
{
    margin: 1rem;
    margin-left: 0rem;
}

.form-row
{
    display: flex;
    justify-content: space-between;
    width: 28rem;
}

#form-title
{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.input-pair
{
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    align-items: flex-start;
}

/* -------- RIGHT BUTTON AND LOGIN TEXT ---------- */

#right-submit-div
{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    flex-basis: 20%;
    justify-content: center;
    padding-top: 1rem;
}

.create-acc-button {
    background-color: transparent;
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
    padding: 0.75rem 1.1rem;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.create-acc-button:hover,
.create-acc-button:active {
    outline: 0;
}

.create-acc-button:hover {
    background-color: transparent;
    cursor: pointer;
}

.create-acc-button:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.create-acc-button:hover:before {
    background-color: #6DCFF6;
}

@media (min-width: 768px) {
    .create-acc-button {
    padding: 0.75rem 1.5rem;
    }
}

#login-link
{
    font-size: 0.75rem;
}