html 
{
    margin: 0;
    height: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background-color: #F7F7F7;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#left-half, #right-half
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-half 
{
    background-color: #FF385C;
    flex-basis: 35%;
    justify-content: space-around;
}

#left-branded-div
{  
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

#left-text-background
{
    height: 6rem;
    background-color: hsl(210, 10%, 35%, 0.7);
}

#left-text
{   
    line-height: 6rem;
}

#left-subtext-div
{
    font-size: 0.75rem;
}

#right-half
{
    flex-basis: 65%;
    justify-content: space-around;
}

#right-title-text, #right-form-inputs, #right-submit-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#right-title-text
{
    font-size: 1.2rem;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

#right-title, #right-text, #login-link, #create-acc-button
{
    margin: 1rem 3rem 1rem 3rem;
}

#right-form-inputs
{ 
    font-size: 1rem;
    flex-basis: 50%;
    background-color: #FFFFFF;
}

#form-title
{
    font-size: 1.4rem;
}

#first-name, #last-name, #email, #phone-number, #password, #confirm-password
{
    margin: 1rem;
}

.input-row
{
    display: flex;
}

.input-pair
{
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
}

#right-submit-div
{
    font-size: 1rem;
    flex-basis: 20%;
}

#create-acc-button
{
    margin-top: 3rem;
}

#login-link
{
    font-size: 0.75rem;
}