html 
{
    margin: 0;
    height: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background-color: #FFFFFF;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#left-half, #right-half
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-half 
{
    background-color: #FF385C;
    flex-basis: 35%;
    justify-content: center;
}

#left-branded-div
{
    margin-top: -19rem;    
    font-size: 1.2rem;
}

#right-half
{
    flex-basis: 65%;
    justify-content: space-around;
}

#right-title-text
{
    font-size: 1.2rem;
}

#right-form-inputs
{ 
    font-size: 1rem;
}

#right-submit-button
{
    font-size: 1rem;
}